* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  height: 30vh;
  background-color: rgb(250, 233, 0);
  margin-top: 34vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

h1 {
  position: absolute;
  font-size: 40px;
  top: 20px;
}

input {
  width: 20vw;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
}

button {
  position: absolute;
  bottom: 50px;
  padding: 20px;
  outline: none;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: none;
  transition: all ease-in-out 0.3s;
}

button:hover {
  box-shadow: 0px 0px 10px black;
}
